import {water} from "../public/assets/water.jpg";

.App {
  font-family: sans-serif;
}
.main {
  /* background-color: red; */
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://c.pxhere.com/photos/13/21/colorful_colour_coloured_tiles_colourful_colours_design_pastel_colors_pattern-915148.jpg!d");
}
@media (min-width: 480px) {
  nav {
    display: block;
  }
}
#navicon {
  height: 50px;
  width: 50px;
  display: inline-block;
}
#lefty {
  display: inline-block;
  padding-top: 2em;
}

nav {
  height: 100px;
  background-color: rgba(161, 161, 161, 0.116);
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
li {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.icon {
  float: left;
  
}
ul {
  
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  width: 50px;
  padding: 1em 3em 1em;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

ul:hover {
  background-color: rgba(0, 0, 0, 0.09);
  -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition: transform .5s;
}
